<a href="https://colab.research.google.com/github/Tamiriscoliveira/Data-Science/blob/main/Introduction_Machine_Learning_Classification_Part_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
x = dados [["home", "how_it_works", "contact"]]
y = dados[["bought"]]

In [ ]:
y.head()

   bought
0       0
1       0
2       0
3       0
4       0

In [ ]:
mapa = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
dados = dados.rename(columns = mapa)

In [ ]:
x = dados [["principal", "como_funciona", "contato"]]
y = dados[["comprou"]]

In [ ]:
x.head()
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [ ]:
dados.shape

(99, 4)

In [ ]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y= y[75:]

print("treinaremos com %d elementos e testaremos com %d elementos" %(len(treino_x), len(teste_x)) )

treinaremos com 75 elementos e testaremos com 24 elementos

In [ ]:
teste_y.shape

(24, 1)

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x,teste_x, treino_y, teste_y = train_test_split(x,y, test_size = 0.25)
print("treinaremos com %d elementos e testaremos com %d elementos" %(len(treino_x), len(teste_x)) )

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)


print(treino_x.shape)
print(teste_x.shape)

treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 100.00%
(74, 3)
(25, 3)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## A partir daqui usando a biblioteca para separar treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x,teste_x, treino_y, teste_y = train_test_split(x,y, random_state= SEED, test_size = 0.25)
print("treinaremos com %d elementos e testaremos com %d elementos" %(len(treino_x), len(teste_x)) )

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
treino_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [ ]:
teste_y.value_counts()

comprou
0          19
1           6
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x,teste_x, treino_y, teste_y = train_test_split(x,y, 
                                                       random_state= SEED, test_size = 0.25,
                                                       stratify = y)
print("treinaremos com %d elementos e testaremos com %d elementos" %(len(treino_x), len(teste_x)) )

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [ ]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64